###> Other files and folders ###
.idea
.vscode
docker-compose.yml
###< Other files and folders ###


###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
